.carousel
{
	display: inline-block;
	overflow: hidden;
}
.carousel .carousel_player
{
	height:100%;
	white-space: nowrap;
}
.carousel .carousel_player img
{
	display: inline-block;
	width: calc( 100% / 3 );
	height:100%;
}
.carousel .carousel_navBarre
{
	position: relative;
	top: -100%;
	height:100%;
	display: flex;
	align-items: center;
}
.carousel .carousel_navBarre > div
{
	width:100%;
}
.carousel .carousel_navBarre > div > div
{
	display: inline-block;
	width: 50%;
	font-size: 3em;
}
.carousel .carousel_navBarre > div > .carousel_left
{
	text-align: left;
}
.carousel .carousel_navBarre > div > .carousel_right
{
	text-align: right;
}
.carousel .carousel_navBarre > div > div > span
{
	background-color: rgba(0,0,0,0.5);
	color: rgba(255,255,255,0.5);
	padding: 5px;
}
.carousel .carousel_navBarre > div > div > span:hover
{
	background-color: rgba(0,0,0,0.6);
	color: rgba(255,255,255,0.8);
	cursor: grab;
}
.carousel .carousel_navBarre > div > div > span:active
{
	cursor: grabbing;
}
.carousel .carousel_navBarre > div > div > span.carousel_right
{
	border-top-left-radius: 80% 40%;
	border-bottom-left-radius: 80% 40%;
	text-align: right;
}
.carousel .carousel_navBarre > div > div > span.carousel_left
{
	border-top-right-radius: 80% 40%;
	border-bottom-right-radius: 80% 40%;
}